<header>
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">DATA TIKET</a>
  </nav>
</header>

<div class="container">
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th (click)="sort('outlet')">Outlet
            <span class="glyphicon sort-icon" *ngIf="key =='outlet'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('area')">Area
            <span class="glyphicon sort-icon" *ngIf="key =='area'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('table')">Meja
            <span class="glyphicon sort-icon" *ngIf="key =='table'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('status')">Status
            <span class="glyphicon sort-icon" *ngIf="key =='status'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games | orderBy: key : reverse | filter:filter; let i = index">
          <td>{{i + 1}}</td>
          <td>{{game.outlet}}</td>
          <td>{{game.area}}</td>
          <td>{{game.table}}</td>
          <td *ngIf="game.status == 1">
              <strong>HADIR</strong>
          </td>
          <td *ngIf="game.status == 0">
              <button (click)="onVerify(game.code)" class="btn" type="button">
                  <img src="./assets/fa-check.png">
              </button>
          </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</div>