/*Container style is for illustration purpose only */
.container{
 min-height: 400px !important;
}

.pd-20 {
    padding-top: 50px !important;
}

.selamat-datang {
    font-size: 100px !important;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
}

.data-outlet {
    font-size: 150px !important; 
    color: #16A2B7; font-family: sans-serif !important;
}

.data-table {
    color: #16A2B7 !important;
}

.meja-anda {
    font-size: 80px !important; 
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
}

/*Can achive using vw css unit*/
.row-full{
      width: 100vw !important;
      height: 100px !important;
      margin-top: 50px !important;
}