/*Container style is for illustration purpose only */
.container{
 min-height: 400px;
}

.selamat-datang {
    font-size: 70px; 
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.data-outlet {
    font-size: 110px; 
    color: #16A2B7; font-family: sans-serif;
}

.data-table {
    color: #16A2B7;
}

.meja-anda {
    font-size: 50px; 
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

/*Can achive using vw css unit*/
.row-full{
      width: 100vw;
      position: relative;
      margin-left: -50vw;
      height: 100px;
      margin-top: 50px;
      left: 50%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */